{% extends "base.html" %}


{% block "content" %}
<div class="starter-template">
    <h1>Technical Interview Project</h1>
    <p class="lead">A small website for technical skills assessment.</p>
</div>
{% endblock "content" %}
